{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index.html" class="brand-link">
        <img src="{% static 'img/BBHMS logo 5.png' %}" alt="Logo" width="155" style="margin-bottom:-40px;margin-top:-40px"
             style="opacity: .8">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link" id="nav-dashboard">
                        <i class="nav-icon fa fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tenants_profile' %}" class="nav-link" id="nav-tenants">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Tenants Profile
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'boardinghouse' %}" class="nav-link" id="nav-listings">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Boarding House listings
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'rooms' %}" class="nav-link" id="nav-room-listings">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Room listings
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'manage_rooms' %}" class="nav-link" id="nav-room-management">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Room Management
                        </p>
                    </a>
                </li>
                <li class="nav-header">PAYMENTS</li>
                <li class="nav-item">
                    <a href="{% url 'utility-bill' %}" class="nav-link" id="nav-utility-bills">
                        <i class="nav-icon fa fa-money-bill"></i>
                        <p>
                            Utility Bills
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'collectibles' %}" class="nav-link" id="nav-collectibles">
                        <i class="nav-icon fa fa-table"></i>
                        <p>
                            Collectibles
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'payments' %}" class="nav-link" id="payments">
                        <i class="nav-icon fa fa-file-invoice"></i>
                        <p>
                            Payments
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'income' %}" class="nav-link" id="nav-income">
                        <i class="nav-icon fa fa-chart-bar"></i>
                        <p>
                            Income Report
                        </p>
                    </a>
                </li>
                <li class="nav-header">GENERAL</li>
                <li class="nav-item">
                    <a href="{% url 'notice' %} " class="nav-link" id="nav-notice">
                        <i class="nav-icon fa fa-bell"></i>
                        <p>
                            Notice Board
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'feedbacks' %}" class="nav-link" id="nav-feedbacks">
                        <i class="nav-icon fa fa-file-invoice"></i>
                        <p>
                            Feedbacks
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>