{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="text-center">
        <a href="{% url 'homepage' %}" class="brand-link">
            <img src="{% static 'img/BBHMS logo 5.png' %}" alt="Logo" style="height: 50px">
        </a>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link" id="nav-dashboard">
                        <i class="nav-icon fa fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'users' %}" class="nav-link" id="nav-users">
                            <i class="nav-icon fa fa-users"></i>
                            <p>
                                Users
                            </p>
                        </a>
                    </li>


                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'notice' %} " class="nav-link" id="nav-notice">
                        <i class="nav-icon fa fa-bell"></i>
                        <p>
                            Notice Board
                            {% if not request.user.is_superuser and notice != 0 %}
                                <span class="badge badge-danger">{{ notice }}</span>
                            {% endif %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'feedbacks' %}" class="nav-link" id="nav-feedbacks">
                        <i class="nav-icon fa fa-file-invoice"></i>
                        <p>
                            Feedbacks
                            {% if request.user.is_superuser and feedback != 0 %}
                                <span class="badge badge-danger">{{ feedback }}</span>
                            {% endif %}
                        </p>
                    </a>
                </li>




                {% if request.user.is_superuser or request.user.is_staff %}
                    <hr>

                    <li class="nav-item">
                        <a href="{% url 'boardinghouse' %}" class="nav-link" id="nav-listings">
                            <i class="nav-icon fa fa-home"></i>
                            <p>
                                Boarding House listings
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'rooms' %}" class="nav-link" id="nav-room-listings">
                            <i class="nav-icon fa fa-home"></i>
                            <p>
                                Room listings
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tenants_profile' %}" class="nav-link" id="nav-tenants">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                Tenants
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'manage_rooms' %}" class="nav-link" id="nav-room-management">
                            <i class="nav-icon fa fa-home"></i>
                            <p>
                                Room Assignment
                            </p>
                        </a>
                    </li>
                    {% if not request.user.is_superuser %}
                        <hr>
                        <li class="nav-item">
                            <a href="{% url 'utility-bill' %}" class="nav-link" id="nav-utility-bills">
                                <i class="nav-icon fa fa-money-bill"></i>
                                <p>
                                    Utility Bills
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'collectibles' %}" class="nav-link" id="nav-collectibles">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    Collectibles
                                </p>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if not request.user.is_superuser %}

                    <li class="nav-item">
                        <a href="{% url 'payments' %}" class="nav-link" id="payments">
                            <i class="nav-icon fa fa-file-invoice"></i>
                            <p>
                                Payments
                            </p>
                        </a>
                    </li>

                    {% if request.user.is_superuser or request.user.is_staff %}
                        <li class="nav-item">
                            <a href="{% url 'income' %}" class="nav-link" id="nav-income">
                                <i class="nav-icon fa fa-chart-bar"></i>
                                <p>
                                    Income Report
                                </p>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="nav-item">
                    <a href="{% url 'landing_page' %}" class="nav-link">
                        <i class="nav-icon fa fa-arrow-left"></i>
                        <p>
                            Back to landing page
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>