{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap5"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'landing/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'landing/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'landing/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <style>
         *{ font-family: Poppins, sans-serif;

        }
        #map {
            height: 300px;
        }
    </style>
    <title>Bulan Boarding House Management System</title>
</head>
<body>

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <a href="{% url 'landing_page' %}" class="logo m-0 float-start">Boarding House Management System</a>

                <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                    <li class="nav-home"><a href="{% url 'landing_page' %}">Home</a></li>
                    <li class="nav-bhouse"><a href="{% url 'bhouse_listings' %}">Boarding Houses</a></li>
{#                    <li class="nav-rooms"><a href="{% url 'room_listings' %}">Rooms</a></li>#}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'homepage' %}">Dashboard</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>

                <a href="#"
                   class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                   data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}


<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Contact</h3>
                    <address>Jaypee G. Dionela</address>
                    <ul class="list-unstyled links">
                        <li><a href="tel://11234567890">090063531669</a></li>
                        <li><a href="mailto:jaypeedionela55@gmail.com">jaypeedionela55@gmail.com</a></li>
{#                        <ul class="list-unstyled social">#}
{#                            <li><a href="#"><span class="icon-instagram"></span></a></li>#}
{#                            <li><a href="#"><span class="icon-twitter"></span></a></li>#}
{#                             <li><a href="#"><span class="icon-facebook"></span></a></li>#}
{#                        </ul>#}
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->

        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!--
          **==========
          NOTE:
          Please don't remove this copyright link unless you buy the license here https://untree.co/license/
          **==========
        -->

                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
{#                    . All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>#}
{#                    <!-- License information: https://untree.co/license/ -->#}
                </p>

            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->


<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<script src="{% static 'landing/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'landing/js/tiny-slider.js' %}"></script>
<script src="{% static 'landing/js/aos.js' %}"></script>
<script src="{% static 'landing/js/navbar.js' %}"></script>
<script src="{% static 'landing/js/counter.js' %}"></script>
<script src="{% static 'landing/js/custom.js' %}"></script>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

{% block js %}

{% endblock %}
</body>
</html>
