{% extends 'base/base.html' %}

{% block page-title %}
Income Report
{% endblock %}

{% block style %}

{% endblock %}

{% block js %}
<script>
    // add active class to nav-dashboard
    document.getElementById("nav-income").className += " active";
    </script>
{% endblock %}





{% block content %}

    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}



            <div class="card card-info elevation-2">
                <br>
                <div class="col-md-12 table-responsive">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead class="btn-cancel">
                        <tr>
                            <th>Month</th>
                            <th>Income</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for month in months %}
                            <tr>
                                <td>{{ month.month }}</td>
                                <td>{{ month.income }}</td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Payments</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="add_bhouse">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}