{% extends 'base/base.html' %}

{% block page-title %}
    Utility Bills
{% endblock %}

{% block style %}

{% endblock %}

{% block js %}
    <script>
        // add active class to nav-dashboard
        document.getElementById("nav-utility-bills").className += " active";
    </script>

    <script>
        {#        when delete button in action clicked, get the username of user#}
        $(document).on('click', '.edit', function () {
            var room = $(this).closest('tr').find('td:nth-child(1)').text();
            var bills = $(this).closest('tr').find('td:nth-child(3)').text();
            var rate = $(this).closest('tr').find('td:nth-child(4)').text();
            var id = $(this).closest('tr').find('td:nth-child(5)').text();
            console.log(room);
            console.log(bills);
            console.log(rate);
            $('#edit_room').val(room);
            $('#edit_bills').val(bills);
            $('#edit_rate').val(rate);
            $('#edit_id').val(id);

        });
        $(document).on('click', '.delete', function () {
            var id = $(this).closest('tr').find('td:nth-child(5)').text();
            $('#id_delete').val(id);

        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the select element
            var selectElement = document.getElementById('id_bills');

            // Find the option with value="Rent"
            var optionToRemove = selectElement.querySelector('option[value="Rent"]');

            // Remove the option if it exists
            if (optionToRemove) {
                optionToRemove.remove();
            }
        });
    </script>
    <script>

        // Get all table rows except the header row
        const rows = document.querySelectorAll("#example1 tbody tr");

        // Loop through each row
        rows.forEach(row => {
            const billType = row.cells[2].textContent.trim(); // Assuming "Bills" column is at index 2

            // Check if the bill type is "Rent"
            if (billType === "Rent") {
                const deleteButton = row.querySelector(".delete");
                if (deleteButton) {
                    deleteButton.remove(); // Remove the delete button
                }
                const editButton = row.querySelector(".edit");
                if (editButton) {
                    editButton.remove(); // Remove the delete button
                }
            }
        });
    </script>
{% endblock %}


{% block modal %}
    <div class="col-sm-6">
        <div class="float-sm-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addUtilityBills">
                Add Utility Bills
            </button>
        </div>
    </div>
{% endblock %}



{% block content %}

    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}



            <div class="card card-info elevation-2">
                <br>
                <div class="col-md-12 table-responsive">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead class="btn-cancel">
                        <tr>
                            <th hidden>Room ID</th>
                            <th>Room</th>
                            <th>Bills</th>
                            <th>Rate</th>
                            <th hidden>Utility ID</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for bill in bills %}
                            <tr>
                                <td hidden>{{ bill.room.id }}</td>
                                <td>{{ bill.room }}</td>
                                <td>{{ bill.bills }}</td>
                                <td>{{ bill.rate|floatformat:2 }}</td>
                                <td hidden>{{ bill.id }}</td>

                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-warning edit" data-bs-toggle="modal"
                                            data-bs-target="#editUtilityBills"><i class="fa fa-edit"></i></button>
                                    <a class="btn btn-sm btn-danger delete" href="#" data-bs-toggle="modal"
                                       data-bs-target="#deleteUtilityBill"><i
                                            class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addUtilityBills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Utility Bills</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="id_room" class="form-label">Room</label>
                        <select name="room" class="form-control" required="" id="id_room">
                            <option value="" selected="">---------</option>
                            {% for room in form_room %}
                                <option value="{{ room.id }}">{{ room.name }}</option>
                            {% endfor %}
                        </select>
                        {{ form }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="add_utility">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editUtilityBills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Utility Bills</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" name="edit_id" class="form-control" maxlength="100" id="edit_id" hidden>
                        <label for="id_room">Room:</label>
                        <select name="edit_room" class="form-control" required="" id="edit_room">
                            <option value="" selected="">---------</option>
                            {% for room in form_room %}
                                <option value="{{ room.id }}">{{ room.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="id_bills">Bills:</label>
                        <select name="bills" class="form-control" maxlength="100" id="id_bills">
                            <option value="Electricity">Electricity</option>

                            <option value="Water">Water</option>

                            <option value="Internet">Internet</option>

                            <option value="Cable">Cables</option>

                            <option value="Others">Others</option>

                        </select>
                        <label for="id_rate">Rate:</label>
                        <input type="text" name="edit_rate" class="form-control" maxlength="100" required=""
                               id="edit_rate">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="edit_utility">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUtilityBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Utility Bills</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this utility bill?</p>

                        <input type="text" id="id_delete" name="id_delete" hidden>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="delete_utility">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}