{% extends 'authentication/login.html' %}


{% block form %}
    <h5 class="text-center">Reset Password</h5>
    <p>Input your email and we will send you an instruction on how to reset your password</p>
    <form method="post">
        {% csrf_token %}
        {{ form.email }}
        <br>
        <div class="row">
            <div class="col-6 offset-3">
                <button type="submit" class="btn btn-block btn-info">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}