{% extends 'base/base.html' %}

{% block page-title %}
    Boarding Houses
{% endblock %}

{% block style %}
    <style>
        #map {
            height: 300px;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        // add active class to nav-dashboard
        document.getElementById("nav-listings").className += " active";
    </script>
    <script>

        let mapOptions = {
            center: [12.666327526296453, 123.88241140777153],
            zoom: 17
        }

        let map = new L.map('map', mapOptions);

        let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(layer);


        let marker = null;
        map.on('click', (event) => {

            if (marker !== null) {
                map.removeLayer(marker);
            }

            marker = L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);

            document.getElementById('id_latitude').value = event.latlng.lat;
            document.getElementById('id_longitude').value = event.latlng.lng;

        })

        map.invalidateSize();


    </script>
    <script>
        function myFunctionModal() {

            document.getElementById('exampleModal').style.display = 'block';

            setTimeout(function () {
                map.invalidateSize();
            }, 10);

        }

    </script>
    <script>
        {#        when delete button in action clicked, get the username of user#}
        $(document).on('click', '.delete', function () {
            var id = $(this).closest('tr').find('td:nth-child(1)').text();
            $('#delete_id').val(id);
        });
    </script>
{% endblock %}

{% block modal %}
    <div class="col-sm-6">
        <div class="float-sm-right">
            <button type="button" class="btn btn-primary" onclick="myFunctionModal()" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                Add Boarding House
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}



            <div class="card card-info elevation-2">
                <br>
                <div class="col-md-12 table-responsive">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead class="btn-cancel">
                        <tr>
                            <th >ID</th>
                            {% if request.user.is_superuser %}
                            	<th>Owner</th>
                            {% endif %}
                            <th>Name</th>
                            <th>Address</th>
                            <th>Beds</th>
                            <th>Baths</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for boardinghouse in boardinghouses %}

                            <tr>
                                <td>{{ boardinghouse.id }}</td>
                                {% if request.user.is_superuser %}
                                	<td>{{ boardinghouse.owner }}</td>
                                {% endif %}
                                <td>{{ boardinghouse.name }}</td>
                                <td>{{ boardinghouse.address }}</td>
                                <td>{{ boardinghouse.num_beds }}</td>
                                <td>{{ boardinghouse.num_baths }}</td>
                                <td><img src="{{ boardinghouse.image.url }}" height="60" style="border: 2px solid gray">
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-sm btn-success"
                                       href="{% url 'boardinghouse_detail' boardinghouse.id %}"><i
                                            class="fa fa-eye"></i></a>
                                    <a class="btn btn-sm btn-danger delete" href="" data-bs-toggle="modal"
                                       data-bs-target="#delete"><i
                                            class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="text-right pb-3">
                        <a href="{% url 'boardinghouse_archive' %}">View Archived Boarding Houses</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Boarding House</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Name: </label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="id_name">Number of Beds: </label>
                                {{ form.num_beds }}
                            </div>
                            <div class="col-6">
                                <label for="id_name">Number of Baths: </label>
                                {{ form.num_baths }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Description: </label>
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Address: </label>
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Image: </label>
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="mb-3 form-group">
                            <h5>Boarding House Location</h5>
                            <span>Click on the map to select the coordinates of your Boarding House </span>
                            <div>
                                <div id="map"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="latitude" class="form-label">Latitude</label>
                                    {{ form.latitude }}
                                </div>
                                <div class="col">
                                    <label for="longitude" class="form-label">Longitude</label>
                                    {{ form.longitude }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="add_bhouse">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Boarding House</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this boarding house?</p>
                        <input type="text" name="delete_id" id="delete_id" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="delete_bhouse">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>





{% endblock %}