{% extends 'base/base.html' %}

{% block page-title %}
    {{ room.boardinghouse.name }} - {{ room.name }}
{% endblock %}

{% block style %}
    <style>
        #map {
            height: 300px;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        // add active class to nav-dashboard
        document.getElementById("nav-room-listings").className += " active";
    </script>
    <script>
        const idImageInput = document.getElementById('id_image');

        // Remove the 'required' attribute
        idImageInput.removeAttribute('required');
    </script>
{% endblock %}

{% block modal %}

{% endblock %}

{% block content %}

    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}



            <div class="card card-info elevation-2">
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Boarding House: </label>
                                <select name="boardinghouse" class="form-control" required="" id="id_boardinghouse">
                                    <option value="" selected="">---------</option>
                                    {% for bhouse in bhouses %}

                                        {% if bhouse.id == room.boardinghouse.id %}
                                            <option selected value="{{ bhouse.id }}">{{ bhouse.name }}</option>
                                        {% else %}

                                            <option value="{{ bhouse.id }}">{{ bhouse.name }} </option>
                                        {% endif %}



                                    {% endfor %}

                                </select>
                            </div>

                            <div class="col-6">
                                <label for="id_name">Room Name: </label>
                                {{ form.name }}
                            </div>
                            <div class="col-6">
                                <label for="id_name">Rent price: </label>
                                {{ form.price }}
                            </div>

                            <div class="col-6">
                                <label for="id_name">Number of Bed: </label>
                                {{ form.num_bed }}
                            </div>

                            <div class="col-6">
                                <label for="id_name">Vacant: </label>
                                {{ form.vacant }}
                            </div>

                            <div class="col-12">
                                <label for="id_name">Male/Female: </label>
                                {{ form.male_female }}
                            </div>
                            <div class="col-12">
                                <label for="id_name">Image: </label>
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="text-center align-content-center">
                            {% if not request.user.is_superuser %}
                                <button type="submit" class="btn btn-primary" name="button" value="add_bhouse">Save
                                    changes
                                </button>
                            {% endif %}
                            <a class="btn btn-secondary" href="{% url 'rooms' %}"> Back to Rooms
                            </a>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}