{% extends 'base/base.html' %}

{% block page-title %}
    Rooms Archive
{% endblock %}

{% block style %}

{% endblock %}

{% block js %}
    <script>
        // add active class to nav-dashboard
        document.getElementById("nav-room-listings").className += " active";
    </script>
    <script>
        {#        when delete button in action clicked, get the username of user#}
        $(document).on('click', '.delete', function () {
            var id = $(this).closest('tr').find('td:nth-child(1)').text();
            $('#delete_id').val(id);
        });
        $(document).on('click', '.restore', function () {
            var id = $(this).closest('tr').find('td:nth-child(1)').text();
            $('#restore_id').val(id);
        });
    </script>
{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}



            <div class="card card-info elevation-2">
                <br>
                <div class="col-md-12 table-responsive">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead class="btn-cancel">
                        <tr>
                            <th hidden>ID</th>
                            <th>Boarding House</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Beds</th>
                            <th>Male/Female</th>
                            <th>Vacant</th>
                            <th>Image</th>
                            {% if request.user.is_superuser %}
                                <th>Owner</th>
                            {% endif %}
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for room in rooms %}

                            <tr>
                                <td hidden>{{ room.id }}</td>
                                <td>{{ room.boardinghouse.name }}</td>
                                <td>{{ room.name }}</td>
                                <td>{{ room.price }}</td>
                                <td>{{ room.num_bed }}</td>
                                <td>{{ room.male_female }}</td>
                                <td>{{ room.vacant }}</td>
                                <td><img src="{{ room.image.url }}" height="60" style="border: 2px solid gray">
                                </td>

                                {% if request.user.is_superuser %}
                                    <td>{{ room.boardinghouse.owner }}</td>
                                {% endif %}
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-success restore"
                                            data-bs-toggle="modal"
                                            data-bs-target="#restore"><i
                                            class="fa fa-recycle"></i></button>
                                    <a class="btn btn-sm btn-danger delete" href="#" data-bs-toggle="modal"
                                       data-bs-target="#delete"><i
                                            class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="text-right pb-3">
                        <a href="{% url 'rooms' %}">Back to Rooms</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Boarding House: </label>
                                {{ form.boardinghouse }}
                            </div>

                            <div class="col-6">
                                <label for="id_name">Room Name: </label>
                                {{ form.name }}
                            </div>
                            <div class="col-6">
                                <label for="id_name">Rent price: </label>
                                {{ form.price }}
                            </div>

                            <div class="col-6">
                                <label for="id_name">Number of Bed: </label>
                                {{ form.num_bed }}
                            </div>

                            <div class="col-6">
                                <label for="id_name">Vacant: </label>
                                {{ form.vacant }}
                            </div>

                            <div class="col-12">
                                <label for="id_name">Male/Female: </label>
                                {{ form.male_female }}
                            </div>
                            <div class="col-12">
                                <label for="id_name">Image: </label>
                                {{ form.image }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="add_room">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Boarding House</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this room?</p>
                        <input type="text" name="delete_id" id="delete_id" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="delete">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="restore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Restore Room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to restore this room?</p>
                        <input type="text" name="restore_id" id="restore_id" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="restore">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}