{% extends 'base/base.html' %}

{% block page-title %}
    Tenants
{% endblock %}

{% block style %}

{% endblock %}

{% block js %}
    <script>
        // add active class to nav-dashboard
        document.getElementById("nav-tenants").className += " active";
    </script>
    <script>
        {#        when delete button in action clicked, get the username of user#}
        $(document).on('click', '.delete', function () {
            var id = $(this).closest('tr').find('td:nth-child(1)').text();
            $('#delete_id').val(id);
        });
    </script>
{% endblock %}

{% block modal %}
        {% if not request.user.is_superuser %}

    <div class="col-sm-6">
        <div class="float-sm-right">
            <button type="button" class="btn btn-primary" onclick="myFunctionModal()" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                Add Tenant
            </button>
        </div>
    </div>
        {% endif %}
{% endblock %}


{% block content %}

    <section class="content">
        <div class="container-fluid">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}

            <div class="card card-info elevation-2">
                <br>
                <div class="col-md-12 table-responsive">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead class="btn-cancel">
                        <tr>
                            <th hidden>ID</th>
                            <th>Tenant Name</th>
                            <th>Email</th>
                            {% if request.user.is_superuser %}
                                <th>Owner</th>
                            {% endif %}
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tenant in tenants %}



                            <tr>
                                <td hidden>{{ tenant.id }}</td>
                                <td>{{ tenant.name.get_full_name }}</td>
                                <td>{{ tenant.name.email }}</td>
                                {% if request.user.is_superuser %}
                                    <td>{{ tenant.owner }}</td>
                                {% endif %}
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-danger delete"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete"><i
                                            class="fa fa-trash-alt"></i></button>

                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    {% if request.user.is_superuser %}

                        <div class="text-right pb-3">
                            <a href="{% url 'tenant_archive' %}">View Archived Tenants</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Tenant</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="id_name">Name: </label>
                                <select class="form-select" aria-label="Default select example" required name="user">
                                    <option value="" selected disabled>Open this select menu</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="add">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Archive Tenant</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to archive this tenant?</p>

                        <input type="text" name="delete_id" id="delete_id" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="archive">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}