{% extends 'base/base.html' %}

{% block page-title %}
    Notice Board
{% endblock %}

{% block style %}

{% endblock %}

{% block js %}
    <script>
        // add active class to nav-dashboard
        document.getElementById("nav-notice").className += " active";
    </script>

    <script>
        {#        when delete button in action clicked, get the username of user#}
        $(document).on('click', '.delete', function () {
            var id = $(this).closest('tr').find('td:nth-child(1)').text();
            $('#delete_id').val(id);
        });
    </script>
{% endblock %}

{% block modal %}
    {% if request.user.is_superuser or request.user.is_staff %}
    <div class="col-sm-6">
        <div class="float-sm-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addNotice">
                Add Notice
            </button>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block content %}

    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}



            <div class="card card-info elevation-2">
                <br>
                <div class="col-md-12 table-responsive">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead class="btn-cancel">
                        <tr>
                            <th hidden>ID</th>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Notice</th>
                            <th>Boardinghouse</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for notice in notices %}



                            <tr>
                                <td hidden>{{ notice.id }}</td>
                                <td>{{ notice.date }}</td>
                                <td>{{ notice.title }}</td>
                                <td>{{ notice.notice }}</td>
                                <td>{{ notice.boardinghouse }}</td>

                                <td class="text-right">
                                    <a type="button" class="btn btn-sm btn-primary"
                                       href="{% url 'notice_detail' notice.id %}"><i class="fa fa-eye"></i></a>
                                    {% if request.user.is_superuser or request.user.is_staff %}
                                    <button type="button" class="btn btn-sm btn-danger delete" data-bs-toggle="modal"
                                            data-bs-target="#delete"><i
                                            class="fa fa-trash-alt"></i></button>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addNotice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Notice</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="add_notice">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Notice</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this notice?</p>

                        <input type="text" name="delete_id" id="delete_id" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="button" value="delete_notice">Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}